{% extends "base.html" %}
{% block content %}
<h1>Dashboard Automezzi</h1>
<ul>
    <li><strong>Totale automezzi:</strong> {{ automezzi_count }}</li>
    <li><strong>Attivi:</strong> {{ attivi_count }}</li>
    <li><strong>Disponibili:</strong> {{ disponibili_count }}</li>
    <li><strong>Blocchi:</strong>
        <ul>
        {% for auto in automezzi_bloccati %}
            <li>{{ auto.targa }} - {{ auto.motivo_blocco }}</li>
        {% empty %}
            <li>Nessun automezzo bloccato</li>
        {% endfor %}
        </ul>
    </li>
    <li><strong>Manutenzioni in corso:</strong> {{ manutenzioni_in_corso|length }}</li>
    <li><strong>Prossime revisioni:</strong>
        <ul>
        {% for auto in prossime_revisioni %}
            <li>{{ auto.targa }} - {{ auto.data_revisione }}</li>
        {% empty %}
            <li>Nessuna revisione imminente</li>
        {% endfor %}
        </ul>
    </li>
    <li><strong>Ultimi eventi:</strong>
        <ul>
        {% for evento in eventi_recenti %}
            <li>{{ evento.data_evento }} - {{ evento.get_tipo_display }} su {{ evento.automezzo }}</li>
        {% empty %}
            <li>Nessun evento recente</li>
        {% endfor %}
        </ul>
    </li>
    <li><strong>Ultimi rifornimenti:</strong>
        <ul>
        {% for rif in rifornimenti_recenti %}
            <li>{{ rif.data }} - {{ rif.automezzo }} - {{ rif.litri }} L</li>
        {% empty %}
            <li>Nessun rifornimento recente</li>
        {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}