{% extends 'base.html' %}

{% block content %}
<h1>Lista Categorie</h1>
{% if categorie %}
    <ul class="list-group">
        {% for categoria in categorie %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ categoria.nome_categoria }}
                {% if categoria.icona %}
                    <img src="{{ categoria.icona.url }}" alt="Icona di {{ categoria.nome_categoria }}" style="max-height: 30px;">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nessuna categoria disponibile.</p>
{% endif %}
<a href="{% url 'ordini:nuova_categoria' %}" class="btn btn-success mt-3">Crea Nuova Categoria</a>
{% endblock %}